# Ingore all files in Reports
/NformTester/NformTester/Reports

/NformTester/NformTest/NformTester.rxtst


# Ingore all temp files in bin
/NformTester/NformTester/bin

# Ingore all temp files in obj
/NformTester/NformTester/obj
/NformTester/NformTester/obj/x86
/NformTester/NformTester/obj/x86/Debug

# Ingore temp file
ResolveAssemblyReference.cache
/NformTester/NformTester/NformTester.csproj.rxuser
